 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 801px;
}

.u-section-1 .u-text-1 {
  font-family: Poppins;
  font-size: 1rem;
  transition-duration: 0.5s;
  margin: 40px 999px 0 30px;
}

.u-section-1 .u-btn-1 {
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  padding: 0;
}

.u-section-1 .u-icon-1 {
  width: 25px;
  height: 25px;
  margin: -24px auto 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-family: Poppins;
  font-weight: 500;
  --radius: 5px;
  font-size: 0.875rem;
  transition-duration: 0.5s;
  margin: 251px auto 0;
  padding: 19px 181px 20px 180px;
}

.u-section-1 .u-icon-2 {
  margin-right: 6px;
  font-size: 1.0715em;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-family: Poppins;
  font-weight: 500;
  --radius: 5px;
  font-size: 0.875rem;
  transition-duration: 0.5s;
  margin: 13px auto 60px;
  padding: 19px 136px 20px;
}

.u-section-1 .u-icon-3 {
  margin-right: 6px;
  font-size: 1.0715em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 79px;
    margin-right: 824px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 24px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 106px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 631px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 81px;
    margin-right: 473px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 27px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 40px;
    margin-right: 187px;
    margin-left: 33px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -24px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 251px;
    padding-left: 85px;
    padding-right: 85px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 15px;
    padding-left: 39px;
    padding-right: 39px;
  }
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-3,
.u-section-1 .u-btn-3:before,
.u-section-1 .u-btn-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before,
.u-section-1 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #ffffff !important;
  border-radius: 0px !important;
  transform: scale(1) translateY(px) !important;
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
}

.u-section-1 .u-btn-1 {
  border-style: solid !important;
  border-color: transparent !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #ffffff !important;
  border-radius: 0px !important;
  transform: scale(1) translateY(px) !important;
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
}

.u-section-1 .u-btn-1 {
  border-style: solid !important;
  border-color: transparent !important;
}